<!-- form handling -->
<form action="/api/tasks" method="POST" id="add_task">
  <div class="new_task">
    <div class="form-group">
      <label for="task" class="text-light">Task</label>
      <input type="hidden" name="id" value="" />
      <input type="text" name="task" value="" placeholder="Complete the Task" />
    </div>
    <div class="form-group">
      <label for="Time" class="text-light">Time</label>
      <input type="text" name="time" value="" placeholder="12.45" />
    </div>
    <div class="form-group">
      <label for="duration" class="text-light">Duration</label>
      <div class="radio inline">
        <input type="radio" id="radio-2" name="duration" value="AM" />
        <label for="radio-2" class="radio-label">AM</label>
      </div>
      <div class="radio inline">
        <input type="radio" id="radio-3" name="duration" value="PM" />
        <label for="radio-3" class="radio-label">PM</label>
      </div>
    </div>

    <div class="form-group">
      <label for="duration" class="text-light">Status</label>
      <div class="radio inline">
        <input type="radio" id="radio-4" name="status" value="Active" />
        <label for="radio-4" class="radio-label">Active</label>
      </div>
      <div class="radio inline">
        <input type="radio" id="radio-5" name="status" value="Inactive" />
        <label for="radio-5" class="radio-label">Inactive</label>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn text-dark update">Save</button>
    </div>
  </div>
</form>
