<% for(var i = 0; i < tasks.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= tasks[i].task %></td>
    <td><%= tasks[i].time %></td>
    <td><%= tasks[i].duration %></td>
    <td><%= tasks[i].status %></td>
    <td>
        <a href="/update-task?id=<%= tasks[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= tasks[i]._id%> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>
