<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/"><i class="fas fa-angle-double-left"></i> All Tasks</a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">Update Task</h2>
      <span class="text-light">Use the below form to Update a task</span>
    </div>

    <!-- add task form -->
    <!-- form handling -->
    <form method="POST" id="update_task">
      <div class="new_task">
        <div class="form-group">
          <label for="task" class="text-light">Task</label>
          <input type="hidden" name="id" value="<%= task._id %>" />
          <input
            type="text"
            name="task"
            value="<%= task.task %>"
            placeholder="Complete the Task"
          />
        </div>
        <div class="form-group">
          <label for="Time" class="text-light">Time</label>
          <input
            type="text"
            name="time"
            value="<%= task.time%>"
            placeholder="12.45"
          />
        </div>
        <div class="form-group">
          <label for="duration" class="text-light">Duration</label>
          <div class="radio inline">
            <input type="radio" id="radio-2" name="duration" value="AM" <%=
            task.duration == 'AM' ? 'checked' : '' %>>
            <label for="radio-2" class="radio-label">AM</label>
          </div>
          <div class="radio inline">
            <input type="radio" id="radio-3" name="duration" value="PM" <%=
            task.duration == 'PM' ? 'checked' : '' %> >
            <label for="radio-3" class="radio-label">PM</label>
          </div>
        </div>

        <div class="form-group">
          <label for="duration" class="text-light">Status</label>
          <div class="radio inline">
            <input type="radio" id="radio-4" name="status" value="Active" <%=
            task.status == 'Active' ? 'checked' : '' %> >
            <label for="radio-4" class="radio-label">Active</label>
          </div>
          <div class="radio inline">
            <input type="radio" id="radio-5" name="status" value="Inactive" <%=
            task.status == 'Inactive' ? 'checked' : '' %> >
            <label for="radio-5" class="radio-label">Inactive</label>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn text-dark update">Save</button>
        </div>
      </div>
    </form>
  </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
